body {
    margin-left: 200px;
    margin-right: 200px;
}

.centraltop {
    margin-left: 50px;
    height: 50px;
    text-align: center;
    padding: 0px;
}

h1 h5{
    font-weight: bold;

}

.boxcard {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}

.card {
    width: 240px;
    height: 350px;
    border-style: solid;
    border-color: grey;
    margin-top: 20px;
}

.through {
    text-decoration: line-through;
}

.red {
    color: red;
    font-weight: bold; 
}

.grey {
    color: grey; 
}

